<div class="image_side">
  <div class="side image">{{ element.image }}</div>
  <div class="side data">
    <div class="label">{{ element['#label'] }}</div>
    <div class="body">{{ element.body }}</div>
  </div>
</div>
